# =========================
# LangChain Framework
# =========================
langchain==0.3.27
langchain-core==0.3.74
langchain-community==0.3.27
langchain-huggingface==0.3.1
langchain-groq==0.3.7


# =========================
# LLM Provider (Groq)
# =========================
groq==0.31.0


# =========================
# Vector Database
# =========================
faiss-cpu==1.8.0


# =========================
# Embedding Models
# =========================
sentence-transformers==3.0.1
transformers==4.44.2
torch==2.4.1


# =========================
# Data Processing
# =========================
pandas==2.2.2
numpy==1.26.4


# =========================
# PDF Processing
# =========================
pypdf==4.3.1


# =========================
# Environment Variables
# =========================
python-dotenv==1.0.1


# =========================
# Frontend
# =========================
streamlit==1.37.1


# =========================
# Utilities
# =========================
tqdm==4.66.5 
